@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    /* color: #000000; */
  }
  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    /* color: #000000; */
  }
  h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
  }
  h4 {
   
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
  html {
    font-family: "Roboto";
  }
}

.horizontal-scrollist::-webkit-scrollbar {
  display: none;
}

/* --------------product card div on home page------------- */

.product-card-div {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  gap:15px 10px;
  
}
.product-card-container {
  width: 14.5rem;
  height: auto;
  padding-bottom: 4px;
}
.product-card-img {
  width: 14rem;
  height: 14rem;
}

@media (max-width: 1757px) {
  .product-card-div{
    grid-template-columns: repeat(6, 1fr);
  }
  .product-card-container {
    width: 16rem;
  }
}
@media (max-width: 1623px) {
  .product-card-container {
    width: 15.5rem;
  }
}
@media (max-width: 1575px) {
  .product-card-container {
    width: 14.6rem;
  }
}
@media (max-width: 1504px) {
  .product-card-div{
    grid-template-columns: repeat(5, 1fr);
  }
  .product-card-container {
    width: 17rem;
  }
}

@media (max-width: 1475px) {
 
  .pills-btn {
    width: 150px;
  }
}
@media (max-width: 1437px) {
  .product-card-container {
    width: 16rem;
  }
  .pills-btn {
    width: 145px;
  }
  
}
@media (max-width: 1342px) {
  .product-card-div{
    grid-template-columns: repeat(4, 1fr);
  }
  .product-card-container {
    width: 18rem;
  }
}
@media (max-width: 1245px) {
  .product-card-container {
    width: 17rem;
  }
}
@media (max-width: 1138px) {
  .product-card-container {
    width: 16rem;
  }
}
@media (max-width: 1080px) {
  .product-card-container {
    width: 15rem;
  }
}
@media (max-width: 1009px) {
  .product-card-container {
    width: 14.5rem;
  }
}

@media (max-width: 1019px) {
  .product-card-div{
    grid-template-columns: repeat(3, 1fr);
  }
  .product-card-container {
    width: 18rem;
  }
}
@media (max-width: 912px) {
  .product-card-container {
    width: 17rem;
  }
}
@media (max-width: 859px) {
  .product-card-container {
    width: 16rem;
  }
}
@media (max-width: 804px) {
  .product-card-container {
    width: 15rem;
  }
}
@media (max-width: 758px) {
  .product-card-container {
    width: 14.6rem;
  }
}

@media (max-width: 735px) {
  .product-card-div{
    grid-template-columns: repeat(2, 1fr);
  }
  .product-card-container {
    width: 18rem;
  }
}
@media (max-width: 608px) {
  .product-card-container {
    width: 17rem;
  }
}
@media (max-width: 578px) {
  .product-card-container {
    width: 16rem;
  }
}
@media (max-width: 538px) {
  .product-card-container {
    width: 15rem;
  }
}
@media (max-width: 524px) {
  .product-card-div{
    grid-template-columns: repeat(2, 1fr);
  }
  .product-card-container {
    width: 12.5rem;
  }
  .product-card-img {
    width: 9rem;
    height: 9rem;
  }
  .price-cont {
    font-size: 11px;
  }
  .product-name {
    font-size: 12px;
  }

}
@media (max-width: 448px){
  .product-card-container {
    width: 11.5rem;
  }
  .product-card-img {
    width: 9rem;
    height: 9rem;
  }
  .price-cont {
    font-size: 11px;
  }
  .product-name {
    font-size: 12px;
  }
 
}
@media (max-width: 414px){
  .product-card-container {
    width: 11rem;
    padding: 2px;
  }
  .product-card-img {
    width: 9rem;
    height: 9rem;
  }
  .price-cont {
    font-size: 10px;
  }
  .product-name {
    font-size: 12px;
  }
  .next,.prev {
    width: 50px;
    height: 50px;
  }
 
}
@media (max-width: 384px){
  
  .product-card-container {
    width: 11rem;
  }
  .product-card-img {
    width: 7rem;
    height: 7rem;
  }
  .price-cont {
    font-size: 11px;
  }
  .product-name {
    font-size: 12px;
  }
  .next {
    width: 50px;
    height: 50px;
  }
  .prev{
    width: 50px;
    height: 50px;
  }
 
}


/* =======================main-container============== */

.main-container {
  width: 97%; 
  padding: 0 1rem;
}

@media (max-width: 1695px) {
  .main-container {
    width: 98%;
  }
}

@media (max-width: 1580px) {
  .main-container {
    width: 98%;
  }
}

@media (max-width: 1344px) {
  .main-container {
    width: 98%;
  }
}

@media (max-width: 1270px) {
  .main-container {
    width: 98%;
  }
}

/* ===============tab-btn========== */

.tab_btn {
  font-size: 18px;
}

@media (max-width: 768px) {
  .tab_btn {
    font-size: 18px;
  }
}


@media (max-width: 640px) {
  .tab_btn {
    font-size: 14px;
  }
}


/* -------------navbar page responsiveness---------- */


  @media (max-width: 960px) {
     .search_div {
         width: 550px;
     }
   }

   @media (max-width: 790px) {
     .search_div {
         width: 450px;
     }
     .order_text {
      font-size: 12px;
     }
   }
 
   @media (max-width: 680px) {
     .search_div {
         width: 400px;
     }
     .search_select {
         width: 130px;
     }
     .order_text {
      font-size: 11px;
     }
   }
   @media (max-width: 640px) {
     .search_div {
         width: 350px;
         height: 30px;
     }
     .search_select {
         width: 130px;
         border: 1px solid;
     }
     .search_option {
         font-size: 11px;
     }
     .search_btn {
         font-size: 11px;
     }
     .logo_div {
         width: 55px;
         height: 55px;
     }
     .order_text {
      font-size: 10px;
     }
     .order_div {
      width: 100%;
      gap: 1rem;
     }
   }
   @media (max-width: 573px) {
    .navbar {
      height: 100px;
    }
     .search_div {
         width: 270px;
         height: 30px;
     }
     .search_select {
         width: 80px;
         border: 1px solid;
     }
     .search_option {
         font-size: 9px;
     }
     .search_btn {
         font-size: 9px;
         width:90px;

     }
     .logo_div {
         width: 45px;
         height: 45px;
     }
     .input_search {
         flex: 0%;
         width: 145px;
         font-size: 10px;
     }
     .icon_text {
      display:none;
     }
     .order_text {
      font-size: 9px;
     }
     .order_div {
      width: 100%;
     }
   }
   @media (max-width: 414px) {
    .navbar {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5px;
    }
    .search_div {
      width: 241px;
      height: 24px;
  }
  .search_select {
      width: 77px;
      outline: none;

  }
  .search_option {
      font-size: 9px;
  }
  .search_btn {
      font-size: 9px;
      width:49px;

  }
  .logo_div {
      width: 35px;
      height: 35px;
  }
  .input_search {
      flex: 0%;
      width: 115px;
      font-size: 10px;
  }
  .icon_text {
   display:none;
  }
  .order_text {
   font-size: 9px;
  }
  .order_div {
   width: 100%;
  }
   }





