@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    /* color: #000000; */
  }
  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    /* color: #000000; */
  }
  h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
  }
  h4 {
   
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
  html {
    font-family: "Roboto";
  }
}

/* --------------product card div on home page------------- */

.product-card-div {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
}
@media (max-width: 1720px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 1430px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1260px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 960px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 735px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 626px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* =======================main-container============== */

.main-container {
  width: 97%; 
}

@media (max-width: 1695px) {
  .main-container {
    width: 98%;
  }
}

@media (max-width: 1580px) {
  .main-container {
    width: 98%;
  }
}

@media (max-width: 1344px) {
  .main-container {
    width: 98%;
  }
}

@media (max-width: 1270px) {
  .main-container {
    width: 98%;
  }
}

/* ===============tab-btn========== */

.tab_btn {
  font-size: 18px;
}

@media (max-width: 768px) {
  .tab_btn {
    font-size: 18px;
  }
}


@media (max-width: 640px) {
  .tab_btn {
    font-size: 14px;
  }
}


/* -------------navbar page responsiveness---------- */


  @media (max-width: 960px) {
     .search_div {
         width: 550px;
     }
   }

   @media (max-width: 790px) {
     .search_div {
         width: 450px;
     }
     .order_text {
      font-size: 12px;
     }
   }
 
   @media (max-width: 680px) {
     .search_div {
         width: 400px;
     }
     .search_select {
         width: 130px;
     }
     .order_text {
      font-size: 11px;
     }
   }
   @media (max-width: 613px) {
     .search_div {
         width: 350px;
         height: 30px;
     }
     .search_select {
         width: 130px;
         border: 1px solid;
     }
     .search_option {
         font-size: 11px;
     }
     .search_btn {
         font-size: 11px;
     }
     .logo_div {
         width: 55px;
     }
     .order_text {
      font-size: 10px;
     }
     .order_div {
      width: 100%;
      gap: 1rem;
     }
   }
   @media (max-width: 533px) {
     .search_div {
         width: 270px;
         height: 30px;
     }
     .search_select {
         width: 80px;
         border: 1px solid;
     }
     .search_option {
         font-size: 9px;
     }
     .search_btn {
         font-size: 9px;
         width:90px;

     }
     .logo_div {
         width: 50px;
     }
     .input_search {
         flex: 0%;
         width: 145px;
         font-size: 10px;
     }
     .icon_text {
      display:none;
     }
     .order_text {
      font-size: 9px;
     }
     .order_div {
      width: 100%;
     }
   }





